@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-constant-black: oklch(0.2134 0 0);
  --color-constant-white: oklch(0.9702 0 0);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(0.9702 0 0);
  --foreground: oklch(0.2138 0.0019 286.2347);
  --card: oklch(0.9249 0 0);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(0.8792 0 0);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.3516 0.1331 267.0029);
  --primary-foreground: oklch(0.9244 0.0178 253.3436);
  --secondary: oklch(0.9730 0.0133 286.1503);
  --secondary-foreground: oklch(0.2276 0.0478 281.9188);
  --muted: oklch(0.8328 0 0);
  --muted-foreground: oklch(0.5032 0 0);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.2138 0.0019 286.2347);
  --destructive: oklch(0.5379 0.2186 25.9751);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8328 0 0);
  --input: oklch(0.5032 0 0);
  --ring: oklch(0.3516 0.1331 267.0029);
  --chart-1: oklch(0.7770 0.1520 181.9120);
  --chart-2: oklch(0.6270 0.2650 303.9000);
  --chart-3: oklch(0.8280 0.1890 84.4290);
  --chart-4: oklch(0.4880 0.2430 264.3760);
  --chart-5: oklch(0.5530 0.1950 38.4020);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 1.5rem;
  --shadow-x: 0;
  --shadow-y: 5px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.3;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 5px 5px 1px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 5px 5px 1px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 1px 2px 0px hsl(0 0% 0% / 0.30);
  --shadow: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 1px 2px 0px hsl(0 0% 0% / 0.30);
  --shadow-md: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 2px 4px 0px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 4px 6px 0px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 8px 10px 0px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0 5px 5px 1px hsl(0 0% 0% / 0.75);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2686 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2350 0 0);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2134 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.4805 0.1140 253.5677);
  --primary-foreground: oklch(0.2030 0.0861 265.9104);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.3407 0 0);
  --muted-foreground: oklch(0.7090 0 0);
  --accent: oklch(0.3753 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7036 0.1881 22.1462);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3407 0 0);
  --input: oklch(0.5032 0 0);
  --ring: oklch(0.4805 0.1140 253.5677);
  --chart-1: oklch(0.7770 0.1520 181.9120);
  --chart-2: oklch(0.5580 0.2880 302.3210);
  --chart-3: oklch(0.7690 0.1880 70.0800);
  --chart-4: oklch(0.4240 0.1990 265.6380);
  --chart-5: oklch(0.5530 0.1950 38.4020);
  --sidebar: oklch(0.2138 0.0019 286.2347);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.4878 0.2432 264.4045);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 1.5rem;
  --shadow-x: 0;
  --shadow-y: 5px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.3;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 5px 5px 1px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 5px 5px 1px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 1px 2px 0px hsl(0 0% 0% / 0.30);
  --shadow: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 1px 2px 0px hsl(0 0% 0% / 0.30);
  --shadow-md: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 2px 4px 0px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 4px 6px 0px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0 5px 5px 1px hsl(0 0% 0% / 0.30), 0 8px 10px 0px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0 5px 5px 1px hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
