.esteem-theme {
  --background: oklch(0.9414 0.0168 304.7976);
  --foreground: oklch(0.2138 0.0019 286.2347);
  --card: oklch(0.9254 0.0132 310.5245);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(0.8715 0.0221 309.5335);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.4549 0.2449 294.8282);
  --primary-foreground: oklch(0.9672 0.0197 323.2278);
  --secondary: oklch(0.8901 0.2444 135.0201);
  --secondary-foreground: oklch(0.2276 0.0478 281.9188);
  --muted: oklch(0.8336 0.0220 306.7895);
  --muted-foreground: oklch(0.5032 0 0);
  --accent: oklch(0.8212 0.0882 306.5291);
  --accent-foreground: oklch(0.2138 0.0019 286.2347);
  --destructive: oklch(0.5379 0.2186 25.9751);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8336 0.0220 306.7895);
  --input: oklch(0.5236 0.0133 308.1793);
  --ring: oklch(0.4549 0.2449 294.8282);
  --chart-1: oklch(0.7770 0.1520 181.9120);
  --chart-2: oklch(0.6270 0.2650 303.9000);
  --chart-3: oklch(0.8280 0.1890 84.4290);
  --chart-4: oklch(0.4880 0.2430 264.3760);
  --chart-5: oklch(0.5530 0.1950 38.4020);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
}

.dark .esteem-theme {
  --background: oklch(0.2558 0.0079 308.1164);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2222 0.0100 303.6983);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1975 0.0127 307.7489);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.6869 0.1788 304.6489);
  --primary-foreground: oklch(0.1159 0.0434 330.3747);
  --secondary: oklch(0.6819 0.2025 136.5356);
  --secondary-foreground: oklch(0.9763 0.0186 130.1746);
  --muted: oklch(0.3462 0.0273 306.1458);
  --muted-foreground: oklch(0.7090 0 0);
  --accent: oklch(0.4028 0.1107 304.27);
  --accent-foreground: oklch(0.1240 0.0647 304.3241);
  --destructive: oklch(0.7036 0.1881 22.1462);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3070 0.0206 305.7679);
  --input: oklch(0.4745 0.0151 305.7876);
  --ring: oklch(0.6869 0.1788 304.6489);
  --chart-1: oklch(0.7770 0.1520 181.9120);
  --chart-2: oklch(0.5580 0.2880 302.3210);
  --chart-3: oklch(0.7690 0.1880 70.0800);
  --chart-4: oklch(0.4240 0.1990 265.6380);
  --chart-5: oklch(0.5530 0.1950 38.4020);
  --sidebar: oklch(0.2138 0.0019 286.2347);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.9851 0 0);
  --sidebar-primary-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
}