.physiology-theme {
  --background: oklch(0.9421 0.0147 44.1765);
  --foreground: oklch(0.2138 0.0019 286.2347);
  --card: oklch(0.9306 0.0164 46.5654);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(0.8826 0.0429 43.6589);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.5542 0.1922 35.4846);
  --primary-foreground: oklch(0.9195 0.0215 39.3768);
  --secondary: oklch(0.6299 0.1296 232.7201);
  --secondary-foreground: oklch(0.9462 0.0104 219.5909);
  --muted: oklch(0.8318 0.0199 41.7846);
  --muted-foreground: oklch(0.4807 0.0096 36.5212);
  --accent: oklch(0.7405 0.0976 40.8256);
  --accent-foreground: oklch(0.2138 0.0019 286.2347);
  --destructive: oklch(0.5379 0.2186 25.9751);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8318 0.0199 41.7846);
  --input: oklch(0.4807 0.0096 36.5212);
  --ring: oklch(0.5542 0.1922 35.4846);
  --chart-1: oklch(0.7770 0.1520 181.9120);
  --chart-2: oklch(0.6270 0.2650 303.9000);
  --chart-3: oklch(0.8280 0.1890 84.4290);
  --chart-4: oklch(0.4880 0.2430 264.3760);
  --chart-5: oklch(0.5530 0.1950 38.4020);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.7090 0 0);
}

.dark .physiology-theme {
  --background: oklch(0.2560 0.0064 34.2981);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2229 0.0088 43.0787);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2010 0.0091 43.0436);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.4812 0.1644 36.1043);
  --primary-foreground: oklch(0.9771 0.0115 37.4221);
  --secondary: oklch(0.6299 0.1296 232.7201);
  --secondary-foreground: oklch(0.9462 0.0104 219.5909);
  --muted: oklch(0.3614 0.0157 43.0549);
  --muted-foreground: oklch(0.6643 0.0234 39.3293);
  --accent: oklch(0.284 0.068 40.02);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.7036 0.1881 22.1462);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.3614 0.0157 43.0549);
  --input: oklch(0.6643 0.0234 39.3293);
  --ring: oklch(0.5542 0.1922 35.4846);
  --chart-1: oklch(0.7770 0.1520 181.9120);
  --chart-2: oklch(0.5580 0.2880 302.3210);
  --chart-3: oklch(0.7690 0.1880 70.0800);
  --chart-4: oklch(0.4240 0.1990 265.6380);
  --chart-5: oklch(0.5530 0.1950 38.4020);
  --sidebar: oklch(0.2138 0.0019 286.2347);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.9851 0 0);
  --sidebar-primary-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
}